$base-color: #FDFDFD;
$base-gradient: 'matte';
// $active-color: #8bab43;
$active-gradient: 'recessed';

// Default Sencha Touch theme
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// fonts
@include font-face('Spreedia', inline-font-files(
  'spreedia/spreediafont-v1.7-webfont.woff', woff,
  'spreedia/spreediafont-v1.7-webfont.ttf', truetype,
  'spreedia/spreediafont-v1.7-webfont.svg', svg
), 'spreedia/spreediafont-v1.7-webfont.eot');

.storeinstance-list-item {
	padding:10px 0 20px;
	cursor:pointer;
	border-bottom:1px solid #ccc;
	.x-img {width:280px;height:140px;border-radius:5px;}
	.storeinstance-name {
		padding-bottom:10px;
		font-size:22px;
		font-weight:bold;
		text-transform:uppercase;}
	&:hover {background-color:#fff;}
}

// Icon mixin example:
// @include icon('user');